In [257]:
import quandl
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt

In [258]:
quandl.ApiConfig.api_key = "1sNXfWjF5c7B4CLEZZyT"

In [259]:
start = pd.to_datetime('2019-11-01')
end = pd.to_datetime('2019-11-17')
data_TGT = quandl.get('EOD/TGT', start_date='2019-11-01', end_date='2019-11-17')
data_TGT['Ticker']=['TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT','TGT']
data_TGT['Value']=data_TGT['Close']-data_TGT['Open']
data_TGT.head(5)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker,Value
Date,,,,,,,,,,,,,,
2019-11-01,108.06,108.3650,107.43,107.82,3103572.0,0.0,1.0,108.06,108.3650,107.43,107.82,3103572.0,TGT,-0.24
2019-11-04,108.50,109.1600,108.21,108.77,3192971.0,0.0,1.0,108.50,109.1600,108.21,108.77,3192971.0,TGT,0.27
2019-11-05,108.97,110.4174,108.83,110.06,3290216.0,0.0,1.0,108.97,110.4174,108.83,110.06,3290216.0,TGT,1.09
2019-11-06,109.89,110.6000,109.34,110.51,3233716.0,0.0,1.0,109.89,110.6000,109.34,110.51,3233716.0,TGT,0.62
2019-11-07,111.62,111.8600,110.34,110.59,3493426.0,0.0,1.0,111.62,111.8600,110.34,110.59,3493426.0,TGT,-1.03

In [260]:
data_WMT = quandl.get('EOD/WMT', start_date='2019-11-01', end_date='2019-11-17')
data_WMT['Ticker']=['WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT','WMT']
data_WMT['Value']=data_WMT['Close']-data_WMT['Open']
data_WMT.head(5)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker,Value
Date,,,,,,,,,,,,,,
2019-11-01,117.92,117.97,117.230,117.62,3762593.0,0.0,1.0,117.92,117.97,117.230,117.62,3762593.0,WMT,-0.30
2019-11-04,118.40,119.11,117.170,117.57,4642893.0,0.0,1.0,118.40,119.11,117.170,117.57,4642893.0,WMT,-0.83
2019-11-05,117.68,119.14,117.075,118.86,4212739.0,0.0,1.0,117.68,119.14,117.075,118.86,4212739.0,WMT,1.18
2019-11-06,118.83,119.62,118.710,119.50,3613249.0,0.0,1.0,118.83,119.62,118.710,119.50,3613249.0,WMT,0.67
2019-11-07,120.00,120.92,119.540,120.23,4440348.0,0.0,1.0,120.00,120.92,119.540,120.23,4440348.0,WMT,0.23

In [264]:
data_AMZN = quandl.get('EOD/AMZN', start_date='2019-11-01', end_date='2019-11-17')
data_AMZN['Ticker']=['AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN','AMZN']
data_AMZN['Value']=data_AMZN['Close']-data_AMZN['Open']
data_AMZN.head(5)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker,Value
Date,,,,,,,,,,,,,,
2019-11-01,1788.01,1797.44,1785.21,1791.44,2790354.0,0.0,1.0,1788.01,1797.44,1785.21,1791.44,2790354.0,AMZN,3.43
2019-11-04,1801.01,1815.06,1801.01,1804.66,2771922.0,0.0,1.0,1801.01,1815.06,1801.01,1804.66,2771922.0,AMZN,3.65
2019-11-05,1809.16,1810.25,1794.00,1801.71,1885543.0,0.0,1.0,1809.16,1810.25,1794.00,1801.71,1885543.0,AMZN,-7.45
2019-11-06,1801.00,1802.50,1788.58,1795.77,2029783.0,0.0,1.0,1801.00,1802.50,1788.58,1795.77,2029783.0,AMZN,-5.23
2019-11-07,1803.76,1805.90,1783.48,1788.20,2651086.0,0.0,1.0,1803.76,1805.90,1783.48,1788.20,2651086.0,AMZN,-15.56

In [265]:
data_BBY = quandl.get('EOD/BBY', start_date='2019-11-01', end_date='2019-11-17')
data_BBY['Ticker']=['BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY','BBY']
data_BBY['Value']=data_BBY['Close']-data_BBY['Open']
data_BBY.head(5)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker,Value
Date,,,,,,,,,,,,,,
2019-11-01,72.40,73.495,72.120,72.92,2353587.0,0.0,1.0,72.40,73.495,72.120,72.92,2353587.0,BBY,0.52
2019-11-04,73.65,74.950,73.600,74.81,1541668.0,0.0,1.0,73.65,74.950,73.600,74.81,1541668.0,BBY,1.16
2019-11-05,75.00,76.000,74.545,74.84,2867318.0,0.0,1.0,75.00,76.000,74.545,74.84,2867318.0,BBY,-0.16
2019-11-06,74.97,75.280,73.610,75.05,2501297.0,0.0,1.0,74.97,75.280,73.610,75.05,2501297.0,BBY,0.08
2019-11-07,75.97,76.885,75.800,76.01,1818533.0,0.0,1.0,75.97,76.885,75.800,76.01,1818533.0,BBY,0.04

In [266]:
data_COST = quandl.get('EOD/COST', start_date='2019-11-01', end_date='2019-11-17')
data_COST['Ticker']=['COST','COST','COST','COST','COST','COST','COST','COST','COST','COST','COST']
data_COST['Value']=data_COST['Close']-data_COST['Open']
data_COST.head(5)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker,Value
Date,,,,,,,,,,,,,,
2019-11-01,297.99,298.4150,295.500,296.09,1364483.0,0.0,1.0,297.99,298.4150,295.500,296.09,1364483.0,COST,-1.90
2019-11-04,297.16,298.2200,295.170,296.82,1651608.0,0.0,1.0,297.16,298.2200,295.170,296.82,1651608.0,COST,-0.34
2019-11-05,297.09,299.6925,295.805,299.18,2204542.0,0.0,1.0,297.09,299.6925,295.805,299.18,2204542.0,COST,2.09
2019-11-06,299.97,301.6500,297.925,301.57,1675008.0,0.0,1.0,299.97,301.6500,297.925,301.57,1675008.0,COST,1.60
2019-11-07,303.93,307.1000,302.480,305.21,2399391.0,0.0,1.0,303.93,307.1000,302.480,305.21,2399391.0,COST,1.28

In [269]:
data_HD = quandl.get('EOD/HD', start_date='2019-11-01', end_date='2019-11-17')
data_HD['Ticker']=['HD','HD','HD','HD','HD','HD','HD','HD','HD','HD','HD']
data_HD['Value']=data_HD['Close']-data_HD['Open']
data_HD.head(5)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker,Value
Date,,,,,,,,,,,,,,
2019-11-01,236.07,237.445,235.061,237.34,2196353.0,0.0,1.0,236.07,237.445,235.061,237.34,2196353.0,HD,1.27
2019-11-04,238.27,238.390,233.880,234.92,2541885.0,0.0,1.0,238.27,238.390,233.880,234.92,2541885.0,HD,-3.35
2019-11-05,234.74,234.920,230.270,232.20,3622651.0,0.0,1.0,234.74,234.920,230.270,232.20,3622651.0,HD,-2.54
2019-11-06,232.83,234.040,231.890,234.01,2631919.0,0.0,1.0,232.83,234.040,231.890,234.01,2631919.0,HD,1.18
2019-11-07,234.00,235.790,231.760,232.94,2832532.0,0.0,1.0,234.00,235.790,231.760,232.94,2832532.0,HD,-1.06

In [272]:
data_M = quandl.get('EOD/M', start_date='2019-11-01', end_date='2019-11-17')
data_M['Ticker']=['M','M','M','M','M','M','M','M','M','M','M']
data_M['Value']=data_M['Close']-data_M['Open']
data_M.head(5)

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,Ticker,Value
Date,,,,,,,,,,,,,,
2019-11-01,15.25,15.75,15.210,15.58,10797594.0,0.0,1.0,15.25,15.75,15.210,15.58,10797594.0,M,0.33
2019-11-04,15.75,16.06,15.710,15.85,10276445.0,0.0,1.0,15.75,16.06,15.710,15.85,10276445.0,M,0.10
2019-11-05,16.08,16.71,16.030,16.71,19487122.0,0.0,1.0,16.08,16.71,16.030,16.71,19487122.0,M,0.63
2019-11-06,16.62,16.70,15.910,15.97,17937651.0,0.0,1.0,16.62,16.70,15.910,15.97,17937651.0,M,-0.65
2019-11-07,16.31,16.66,16.175,16.22,14383460.0,0.0,1.0,16.31,16.66,16.175,16.22,14383460.0,M,-0.09